<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUY SMART</title>
    <link rel="stylesheet" href="statics/style.css">
    <link rel="stylesheet" href="statics/responsive.css">
</head>

<body>



    <div class="header">
        <div class="header-row">
            <div class=menu-left>
                <h1>BUY<em>SMART</em></h1>
            </div>
            <div class=menu-right>
                <ul>
                    <li class="list"><a href="index.html" id="indicator"> HOME</a></li>
                    <li class="list"><a href="ourproducts.html "> OURS PRODUCTS</a></li>
                    <li class="list"><a href="about.html"> ABOUT US</a></li>
                    <li class="list"><a href="contact.html">CONTACTS US</a> </li>
                </ul>
            </div>
        </div>
        <div class="text">
            <h3>BEST OFFER</h3>
            <br>
            <h1>NEW ARRIVALS ON SALE</h1>
        </div>
    </div>
    <div class="product-text">
        <h1>Latest Products</h1>
        <h2 style="color:red;">view all products</h2>
    </div>
    <hr style="color:brown;">


    <div class="product-row">
        <div class="product-col">
            <img src="statics/images/product_01.jpg" alt="">
            <div class="title">
                <h3 style="color:red">TITLE GOES HERE</h3>
                <h4>$20</h4>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur consequuntur, cum cumque possimus
                rem earum dolor corporis! Praesentium eaque tempora laboriosam soluta magnam error quae provident ea
                dicta iure facilis, accusantium aut officia, id, magni ut, culpa. Dolorem, cumque nobis itaque
                praesentium officiis numquam, pariatur sequi, voluptatum delectus minus reprehenderit.</p>
        </div>
        <div class="product-col">
            <img src="statics/images/product_02.jpg" alt="">
            <div class="title">
                <h3 style="color:red">TITLE GOES HERE</h3>
                <h4>$30</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, ducimus! Animi quaerat, quasi iste omnis
                quam voluptates cum dolore consequuntur illo aliquid, accusamus dicta quos! Ab maiores beatae aliquam in
                voluptatum quo quia fuga, dolorem aperiam molestiae illum pariatur eos doloremque placeat sed amet
                voluptates voluptatem ea quisquam culpa quis?</p>
        </div>
        <div class="product-col">
            <img src="statics/images/product_03.jpg" alt="">
            <div class="title">
                <h3 style="color:red">TITLE GOES HERE</h3>
                <h4>$50</h4>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, rerum. Alias quisquam totam nihil
                provident doloribus eius nesciunt facere beatae quod! Fugiat, repudiandae, sed! Eos dolor iste expedita
                voluptatum exercitationem magnam modi nostrum dolorem ea debitis ex, eius aperiam aut ab a quae labore
                eum quasi molestias iure quidem! Dolor?</p>
        </div>
    </div>




    <br>
    <h1 style="margin-left:5%">ABOUT BUYSMART</h1>
    <hr>
    <div class="about-indx">
        <div class="about-left">
            <h3>Looking for the best products?</h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Maiores aliquid voluptatem, eveniet deleniti.
                Corrupti odio, iusto perferendis eaque doloremque facilis exercitationem eveniet saepe et assumenda
                aliquid nostrum consequuntur, modi explicabo quae? Officiis at quisquam tenetur excepturi blanditiis
                soluta nesciunt reprehenderit, similique, suscipit exercitationem repellat nemo in corporis, voluptate
                asperiores non.</p>
            <br>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ipsam.</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, placeat.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, fuga?</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, adipisci.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, tempora.</li>
            </ul>
            <br><br>
            <form action="">
                <button
                    style="background-color:red;padding:10px 20px; border-radius:15px; margin:8% 0 0 70%; color: white;">READ
                    MORE</button>
            </form>
        </div>
        <div class="about-right">
            <img src="statics/images/feature-image.jpg" alt="">
        </div>
    </div>
    <hr style="margin-top:5px">
    <div class="buy-row">
        <div class="buy-col">
            <h4 style="color:red">Creative & Unique Products</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Asperiores, accusantium.</p>
        </div>
        <div class="buy-col">
            <form action="">
                <button style="background-color:red;padding:10px 20px; border-radius:15px;color: white;"> PURCHASE
                    NOW</button>
            </form>
        </div>
    </div>
</body>
<script src="statics/js.js"></script>

</html>