<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUTY SMART</title>
    <link rel="stylesheet" href="statics/style.css">
</head>

<body>


    <div class="product-header">
        <div class="header-row">
            <div class=menu-left>
                <h1>BUY<em>SMART</em></h1>
            </div>
            <div class=menu-right>
                <ul>
                    <li class="list"><a href="index.html"> HOME</a></li>
                    <li class="list"><a href="ourproducts.html " id="indicator"> OURS PRODUCTS</a></li>
                    <li class="list"><a href="about.html"> ABOUT US</a></li>
                    <li class="list"><a href="contact.html">CONTACTS US</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <!--------------------------------------------------------------------- product area -->
    <div class="select-ct">
        <div class="ct1" onclick="colorchanger()" style="font-size:25px; color: red;">
            all product
        </div>
        <div class="ct2" onclick="colorchanger()" style="font-size:25px;">
            featured
        </div>
    </div>
    <div class="categories">
        <div class="product-row" id="p1">
            <div class="product-col">
                <img src="statics/images/product_01.jpg" alt="">
                <div class="title">
                    <h3 style="color:red">TITLE GOES HERE</h3>
                    <h4>$20</h4>
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur consequuntur, cum cumque
                    possimus rem earum dolor corporis! Praesentium eaque tempora laboriosam soluta magnam error quae
                    provident ea dicta iure facilis, accusantium aut officia, id, magni ut, culpa. Dolorem, cumque nobis
                    itaque praesentium officiis numquam, pariatur sequi, voluptatum delectus minus reprehenderit.</p>
            </div>
            <div class="product-col">
                <img src="statics/images/product_02.jpg" alt="">
                <div class="title">
                    <h3 style="color:red">TITLE GOES HERE</h3>
                    <h4>$30</h4>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, ducimus! Animi quaerat, quasi iste
                    omnis quam voluptates cum dolore consequuntur illo aliquid, accusamus dicta quos! Ab maiores beatae
                    aliquam in voluptatum quo quia fuga, dolorem aperiam molestiae illum pariatur eos doloremque placeat
                    sed amet voluptates voluptatem ea quisquam culpa quis?</p>
            </div>
            <div class="product-col">
                <img src="statics/images/product_03.jpg" alt="">
                <div class="title">
                    <h3 style="color:red">TITLE GOES HERE</h3>
                    <h4>$50</h4>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, rerum. Alias quisquam totam nihil
                    provident doloribus eius nesciunt facere beatae quod! Fugiat, repudiandae, sed! Eos dolor iste
                    expedita voluptatum exercitationem magnam modi nostrum dolorem ea debitis ex, eius aperiam aut ab a
                    quae labore eum quasi molestias iure quidem! Dolor?</p>
            </div>
        </div>
        <div class="product-row" id="p2">
            <div class="product-col">
                <img src="statics/images/product_04.jpg" alt="">
                <div class="title">
                    <h3 style="color:red">TITLE GOES HERE</h3>
                    <h4>$30</h4>
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur consequuntur, cum cumque
                    possimus rem earum dolor corporis! Praesentium eaque tempora laboriosam soluta magnam error quae
                    provident ea dicta iure .</p>
            </div>
            <div class="product-col">
                <img src="statics/images/product_05.jpg" alt="">
                <div class="title">
                    <h3 style="color:red">TITLE GOES HERE</h3>
                    <h4>$10</h4>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, ducimus! Animi quaerat, quasi iste
                    omnis quam voluptates cum dolore consequuntur illo aliquid, accusamus dicta quos! Ab maiores beatae
                    aliquam in voluptatum quo quia fuga, dolorem aperiam mole?</p>
            </div>
            <div class="product-col">
                <img src="statics/images/product_06.jpg" alt="">
                <div class="title">
                    <h3 style="color:red">TITLE GOES HERE</h3>
                    <h4>$30.5</h4>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, rerum. Alias quisquam totam nihil
                    provident doloribus eius nesciunt facere beatae quod! Fugiat, repudiandae, sed! Eos dolor iste
                    expedita voluptatum exercitationem magnam modi nostrum dolore?</p>
            </div>
        </div>
    </div>
    <br style="margin:20px">
</body>
<script src="statics/js.js"></script>

</html>